<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555308465221-n4r98814ag2p385qd7k6bihv1kf2mnjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555308465221-n4r98814ag2p385qd7k6bihv1kf2mnjv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>555308465221-mie19b1idm1ct5kgjmf9f5lvuq2ilmdq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-vFLWrXZEzCxfN5FbTFcI3561NeI2qpg</string>
	<key>GCM_SENDER_ID</key>
	<string>555308465221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCoffeeApp</string>
	<key>PROJECT_ID</key>
	<string>fir-sample-for-intern</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-sample-for-intern.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555308465221:ios:29426ae7f0be95dec6372c</string>
</dict>
</plist>